
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
 
  
  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
  }
  
  .car-details {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .car-image {
    width: 100%;
    
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .car-details p {
    margin: 5px 0;
  }
  
  .image-gallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  
  .image-card {
    flex: 0 0 calc(33.33% - 10px);
    margin-bottom: 10px;
  }
  
  .image-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  form {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
 
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 50%;
  }
  
  input[type="submit"] {
    width: 40%;
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  


  
  .car-details {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1), -4px -4px 10px rgba(255, 255, 255, 0.5);
  }
  
  form {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1), -4px -4px 10px rgba(255, 255, 255, 0.5);
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1), inset -2px -2px 5px rgba(255, 255, 255, 0.5);
  }
  
  input[type="submit"] {
    background-color: #b7e4c7;
    color: #333;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), -2px -2px 5px rgba(255, 255, 255, 0.5);
  }
  
  input[type="submit"]:hover {
    background-color: #a3d6b0;
  }
  


  body.dark p.black {
    color: #333;
  }


  body.dark label.black {
    color: #333;
  }